.grid{
color:white;
display: grid;
grid-gap: 5px;
grid-template-columns: repeat(5, minmax(100px, 1fr));
grid-template-rows: repeat(4, 100px);


}
    
.item:nth-child(odd){
    background-color: #2ecc71;

}
.item:nth-child(even){
    background-color: #3498db;

}


/* 
[minmax]
- Grid-template-columns: repeat(10, minmax(100px, 1fr)); //최대 1fr로 하되 최소 100px너비
 */