.grid{
color:white;
display: grid;
grid-gap: 5px;
grid-template-columns: repeat(5, minmax(100px, 1fr));
grid-template-rows: repeat(2, 100px);



}
    
.item:nth-child(odd){
    background-color: #2ecc71;

}
.item:nth-child(even){
    background-color: #3498db;

}

.grid:first-child {
    grid-template-columns:  repeat(auto-fill, minmax(100px,1fr));
}
.grid:last-child {
    grid-template-columns:  repeat(auto-fit, minmax(100px,1fr));
}

/* 
[auto-fill, auto-fit]
- Grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); //창 너비가 늘어나면 빈 column들로 row를 채움
- Grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); // 창 너비가 늘어나면 element를 늘려서 row에 맞게 해줌
 */