@import "reset.scss";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "_title";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:ital@1&display=swap');

*{
  box-sizing: border-box;
}
body{
  font-family: 'Playfair Display', serif;
  color: black;
  padding: 0px 140px;
  border: 1px solid red;
  padding-top: 155px;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 140px;
  background-color: white;
  height: 155px;
  display: flex;
  align-items: center;
  border: 1px solid red;
  nav{
    justify-content: space-between;
    display: flex;
    border: 1px solid red;
    width: 100%;
    font-size: 10px;
    letter-spacing: 2.2px;
    
    
    ul{
      height: 70px;
      display: flex;
      align-items: center;
      @extend %minTitle;
      &:nth-child(2){
        padding-right: 170px;
        font-size: 14px;
        font-weight: 600;
      }
      &:first-child{
        border: 1px solid red;
        li{
          
          margin-right: 30px;
        }
      }
    }
  }
}
.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(https://cdn.pixabay.com/photo/2021/12/28/11/38/trees-6899050_960_720.jpg) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  padding-bottom: 50px;
  margin-bottom: 83px;
  h4{
    border: 1px solid red;
    margin-bottom: 30px;
    @extend %minTitle;
  }
  h3{
    border: 1px solid red;
  
    font-size:38px;
    width: 50%;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 80px;
  }
  a{
    width: 10%;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color:black;
    font-size: 10px;
    @extend %minTitle;
    transition: all ,3s linear;
     &:hover {
       background-color: black;
       color: white;
     }
  }
}
.under-hero{
  display: flex;
  width: 100%;
  margin-bottom: 83px;
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEDE8;
    h4{
      border: 1px solid red;
      margin-bottom: 30px;
      @extend %minTitle;
    }
    h3{
      border: 1px solid red;
    
      font-size:38px;
      width: 50%;
      letter-spacing: 0.4px;
      text-align: center;
      margin-bottom: 80px;
    }
    a{
      width: 15%;
      padding: 15px 0px;
      text-align: center;
      text-decoration: none;
      border: 1px solid black;
      color:black;
      font-size: 10px;
      @extend %minTitle;
      
       }
    }
  }
  img{
    width: 50%;
  }
  .blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(3, 60vh);
    .blog__post{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100px;
    }
  }

