@import "_mixins";
@import "reset.scss";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {font-family: "BrownStd"; src: url("//db.onlinewebfonts.com/t/f97225822a70757425b37ccb7fb0ca5c.eot"); src: url("//db.onlinewebfonts.com/t/f97225822a70757425b37ccb7fb0ca5c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f97225822a70757425b37ccb7fb0ca5c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f97225822a70757425b37ccb7fb0ca5c.woff") format("woff"), url("//db.onlinewebfonts.com/t/f97225822a70757425b37ccb7fb0ca5c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f97225822a70757425b37ccb7fb0ca5c.svg#BrownStd") format("svg"); }
@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face { font-family: 'Material Icons'; font-style: normal; font-weight: 400; src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */ src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype'); }
.material-icons { font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; /* Preferred icon size */ display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */ -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */ text-rendering: optimizeLegibility; /* Support for Firefox. */ -moz-osx-font-smoothing: grayscale; /* Support for IE. */ font-feature-settings: 'liga'; }
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');



* {
  box-sizing:border-box;
}
body{
  width: 100%;
  
  padding: 0 8%;
  font-family: 'BrownStd';
  background-color: $white;
  

}
.main-nav-wrapper{
  position: fixed;
  top: 0%;
  
  background: white;
  width: 84%;
  height: 90px;
  transition: transform .3s ease-in-out,opacity .3s ease-in-out;
  
  padding: 30px ;
  .logo{
    
    img{
      max-width: 150px;
      width: 100%;
      
    }
  }
  .togle-btn{
    display: none;
    font-size: 24px;
  }
  .main-nav-content{
    
    display: flex;
    align-items: center;
    
    
    .main-nav{
      margin-left: 10%;
      width: 100%;
      font-size: 12px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      ul{
        
        display: flex;
        justify-content: space-between;
        .vertical-menu{
          display: flex;
         
          li{
            margin-right: 7%;
          }
        }
        .side-menu{
          display: flex;
          div{
            margin-right: 7%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 963px) {
  .main-nav-content{
    
    flex-direction: column;
    
  }
  .main-nav{
    display: none;
    
  }
 
  ul{
    padding-top: 30px;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
  }
  .vertical-menu{
    flex-direction: column;
    li{
      margin: 20px;
    }
  }
  .side-menu{
    flex-direction: column;
    div{
      margin: 20px;
    }
  }
  #toggle__btn{
    display: block;
   
  }
  
  .logo{
    height: 40px;
    display: flex;
    width: 150px;
   img{
     position: fixed;
     top: 20px;
     margin: auto;
   }
    
    
    
  }
  .cart-bag{
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .search-logo{
    position: fixed;
    top: 20px;
    left: 20px;
  }
}

.index-section{
  margin-top: 100px;
  section{
    
    .index-img-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      img{
        width: 100%;
      }
    }
  }
}





